<section class="dassault">

    <div class = "leftside">
        <div class="title">
            <h1>uniform</h1>
            <h3> L'inscription devient plus simple </h3><br>
            <hr>
        </div>

        <table class= "pub">
            <tr>
                <td><%= image_tag ("list.png")%></td>
                <td><p>Un seul formulaire pour toutes les écoles</p></td>
            </tr>
            <tr>
                <td><%= image_tag ("cap.png")%></td>
                <td><p>Gérez facilement vos candidatures</p></td>
            </tr>
            <tr>
                <td><%= image_tag ("cloud.png")%></td>
                <td><p>Stockez vos données scolaire</p></td>
            </tr>
        </table>
    </div>

    <div class = "rightside">
        <div class = "formfor">
            <p id="form"> Entrez vos identifiants</p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
                <%= f.email_field :email, placeholder: "email", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
                <% if @minimum_password_length %>
                <% end %>
                <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
            </div>

            <div class="field">
                <%= f.password_field :password_confirmation, placeholder: "confirm password", autocomplete: "off" %>
            </div>

            <div class="actions">
                <%= f.submit "Connexion" %>
            </div>
            <% end %>

            <div>
                <p id="forget"><<%= link_to "Mot de passe oublié?", new_user_password_path %> </p></div>
        </div>

        <div class="signup">
            <br><br><%= render "devise/shared/links" %>
        </div>
    </div>
</section>